*{
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";  
}

.page-container {
  position: relative;
  min-height: 100vh;
}

main {
  margin:  50px 70px 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 50px;
}
